*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.wrapper{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
}

.navbar{
	float: left;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}
.logo .navbar-brand{
	font-weight: bold;
}
.nav-menu{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}
ul, li{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}
.main-doc{
	width: calc(100%-200px);
	float: right;
	margin: 0;
}
.entry-title{
	font-size: 1.5em;
	font-weight: bold;
}
.syntaxhighlighter tr {
    border-bottom: none;
}
.syntaxhighlighter table td.gutter {
    border-right: 2px solid #999;
}
.syntaxhighlighter table td.code {
    width: 100% !important;
}
.syntaxhighlighter table thead, .syntaxhighlighter table caption, .syntaxhighlighter textarea {
    border-radius: 0 0 0 0 !important;
    background: none !important;
    bottom: auto !important;
    float: none !important;
    height: auto !important;
    left: auto !important;
    line-height: 1.1em !important;
    margin: 0 !important;
    outline: 0 !important;
    overflow: visible !important;
    padding: 0 !important;
    position: static !important;
    right: auto !important;
    text-align: left !important;
    top: auto !important;
    vertical-align: baseline !important;
    width: auto !important;
    box-sizing: content-box !important;
    font-family: "source-code-pro", Consolas, monospace !important;
    font-weight: normal !important;
    font-style: normal !important;
    font-size: 1em !important;
    min-height: auto !important;
}
.syntaxhighlighter table td.gutter .line {
    text-align: right !important;
    padding: 0 0.5em 0 1em !important;
}
.syntaxhighlighter .line {
    white-space: pre !important;
}
.syntaxhighlighter a,
 .syntaxhighlighter div,
  .syntaxhighlighter pre,
   .syntaxhighlighter code,
    .syntaxhighlighter table,
     .syntaxhighlighter table td,
      .syntaxhighlighter table tr,
       .syntaxhighlighter table tbody,
        .syntaxhighlighter table thead,
         .syntaxhighlighter table caption,
          .syntaxhighlighter textarea {
    border-radius: 0 0 0 0 !important;
    background: none !important;
    bottom: auto !important;
    float: none !important;
    height: auto !important;
    left: auto !important;
    line-height: 1.1em !important;
    margin: 0 !important;
    outline: 0 !important;
    overflow: visible !important;
    padding: 0 !important;
    position: static !important;
    right: auto !important;
    text-align: left !important;
    top: auto !important;
    vertical-align: baseline !important;
    width: auto !important;
    box-sizing: content-box !important;
    font-family: "source-code-pro", Consolas, monospace !important;
    font-weight: normal !important;
    font-style: normal !important;
    font-size: 1em !important;
    min-height: auto !important;
}
.syntaxhighlighter table tbody{
	border-collapse: collapse;
    border-spacing: 0;
    height: auto;
}
pre, code {
    word-spacing: 0;
    white-space: pre;
    word-wrap: normal;
    text-align: left !important;
    line-height: 1.1em !important;
}
footer{
	height: 3em;
	padding-top: 10px;
}
@media only screen and (min-width: 500px) {
  section{
    min-height: 300px;
  }